<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" >
      <div class="nav navbar-nav navbar-inner">
        <div class="container">
          <%= link_to "Strange Blog", root_path, id: "logo" %>
          <nav>
          	<p class="navbar-text">В поисках потерянного разума...</p>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to "Register", new_user_registration_path %></li>
                <li><%= link_to "Sign in", signin_path %></li>
                <li><%= link_to "Sign out", signout_path %></li>
              <% else %>
                <li><%= link_to "Register", new_user_registration_path %></li>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
 </header>

<div class="container">
 <%= bootstrap_flash %>
<%= yield %>
</div>
</body>
</html>
